.home {
  display: flex;
  flex-direction: column;
  min-height: 81vh;
}

.content {
  flex: 1;
  display: flex;
  align-items: flex-start;
  margin-top: 5%;
}

.center {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.367);
  border-radius: 8px;
  width: 90%;
  margin: 0 auto;
  border: 2px solid rgba(14, 13, 13, 0.29);
}

.image-placeholder {
  position: relative;
  max-width: 50%;
  margin-right: 20px;
}

.static-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.static-image:hover {
  transform: scale(1.05);
  border: none;
}

#chat {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#upper {
  border: 3px solid #3230306a;
  border-radius: 15px;
  background-color: #f9f9f9;
  max-width: 100%;
  box-sizing: border-box;
}

.message {
  margin: 10px 0;
  border-radius: 8px;
  padding: 10px;
  max-width: 80%;
  box-sizing: border-box;
  word-wrap: break-word;
  transition: background-color 0.3s ease;
}

.message.user {
  background-color: #d1e7dd;
  width: 50rem;
}

.message.model {
  background-color: #f8d7da;
  align-self: flex-start;
}

#lower {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  width: 100%;
}

#lower input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px 10px 10px 10px;
  border-right: none;
  width: 40%;
  background-color: rgb(236, 236, 237);
}

.predict-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px 10px 10px 10px;
}

.predict-button:hover {
  background-color: #0056b3;
}

/* Media Queries for Responsiveness */

@media (max-width: 768px) {
  .center {
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
    width: 90%;
    box-sizing: border-box;
  }

  .image-placeholder {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 100%;
  }

  .static-image {
    max-width: 100%;
  }

  #upper {
    max-width: 80%;
    
  }

  #lower input {
    width: 60%;
    border-radius: 10px 0 0 10px;
  }

  .predict-button {
    width: 16%;
    border-radius: 0 10px 10px 0;
  }

  .message {
    max-width: 90%;
  }
}

@media (max-width: 412px) {
  .center {
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
    width: 90%;
    box-sizing: border-box;
    margin-bottom: 35px;
  }
  
  .image-placeholder {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 100%;
  }

  .static-image {
    max-width: 100%;
  }

  #chat {
    width: 100%;
  }
  .message {
    max-width: 90%;
    align-self: center;
    margin-left: 10px;
    font-size: 1.5rem;
  }
  #upper {
    max-width: 100%;
    align-self: center;
  }

  #lower input {
    width: 80%;
    border-radius: 15px;
    font-size: 1.5rem;
  }

  .predict-button {
    margin-left: 10px;
    width: 25%;
    border-radius: 15px;
  }


}



.title {
  padding-top: 20px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.title .icon {
  width: 3rem;
  height: 3rem;
  margin-left: 16px;
}
@media(max-width: 740px){
  .title {
    padding-top: 10px;
    font-size: 1.5rem;
  }
  .title .icon {
    width: 30px;
    margin-left: 8px;
  }
}
@media(max-width: 350px){
  .title {
    font-size: 100%;
  }
  
}